:root {
    --bg_main: #88be3e;
    --text_light: #fff;
    --text_med: #1644e7;
    --text_white: #fff;
    --red: #ff1e42;
    --darkred: #c3112d;
    --orange: #ff8c00;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  button {
    cursor: pointer;
  }
  
  input {
    -webkit-appearance: none;
  }
  
  button,
  input {
    border: none;
    background: none;
    outline: none;
    color: inherit;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  ul {
    list-style: none;
  }
  
  body {
    font: 1rem/1.3 "Calibri", sans-serif;
    background: transparent;
    color: var(--text_white);
    padding: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/background.jpeg");
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }