:root {
    --bg_main: #88be3e;
    --text_light: #fff;
    --text_med: #1644e7;
    --text_white: #fff;
    --red: #ff1e42;
    --darkred: #c3112d;
    --orange: #ff8c00;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  button {
    cursor: pointer;
  }
  
  input {
    -webkit-appearance: none;
  }
  
  button,
  input {
    border: none;
    background: none;
    outline: none;
    color: inherit;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  ul {
    list-style: none;
  }
  
  body {
    font: 1rem/1.3 "Calibri", sans-serif;
    background: transparent;
    color: var(--text_white);
    padding: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/background.jpeg");
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  /* Add logo styles */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .logo img {
    padding-top: 20%;
    width: 160px; 
    height: 100px;
    height: auto;
  }

  .heading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f7f0f0;
    padding: 40px 20px;
    border-radius: 20px;
  }
  
  .heading {
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0.02em;
    padding: 0 0 30px 0;
  }
  
  .top-banner form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-rounded {
    font-size: 12px;
    line-height: 1.5;
    background: transparent;
    border: 1px solid var(--orange);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='%238C92A0' d='M11.44 10.73l4.41 4.42a.5.5 0 1 1-.7.7l-4.42-4.41a6.5 6.5 0 1 1 .7-.7v-.01zM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z'></path></svg>");
    background-repeat: no-repeat;
    background-position: 96% 10px;
    background-size: 20px 20px;
    border-radius: 100px;
    width: 700px;
    text-align: center;
    padding: 0.5em 1em 0.5em 2.5em;
  }
  
  .input-rounded::placeholder {
    color: #ac935f;
    font-size: 16px;
    text-align: center;
  }
  
  .input-rounded:focus {
    outline: none;
    background-color: transparent;
    border: 1px solid --text_white;
  }